{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load humanize %}

<div id="wrapper">

    <div class="page-title wb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                    <h5><i class="fa fa-pencil bg-red"></i> Блог</h5>
                </div><!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <i class="bg-red">RU</i>
                    <a href="{% url 'blog_az' %}"><i class="bg-red">AZ</i></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs-down hidden-sm-down">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home_ru' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'blog_ru' %}">Блог</a></li>
                        <li class="breadcrumb-item active">{{ single_blog.blog_title_ru }}</li>
                    </ol>
                </div><!-- end col -->                  
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-box row">
                            <div class="blog-title-area">

                                <h3>{{ single_blog.blog_title_ru }}</h3>

                                <div class="blog-meta big-meta">
                                    <small>{{ single_blog.created_date | date:"M d, Y" }}</small>
                                    <small><a href="#" title="">by YogaFood Team</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <!-- carousel -->
                            <div id="carouselExampleIndicators" class="carousel slide image-details-sliders" data-ride="carousel">
                                
                                <div class="carousel-inner">
                                    <div class="active item carousel-item" data-slide-number="0">
                                        <img src="{{ single_blog.blog_photo.url }}" class="img-fluid" alt="slider-blog">
                                    </div>
                                    {% if single_blog.blog_photo_1 %}
                                        <div class="item carousel-item" data-slide-number="1">
                                            <img src="{{ single_blog.blog_photo_1.url }}" class="img-fluid" alt="slider-blog">
                                        </div>
                                    {% endif %}
                                    {% if single_blog.blog_photo_2 %}
                                        <div class="item carousel-item" data-slide-number="2">
                                            <img src="{{ single_blog.blog_photo_2.url }}" class="img-fluid" alt="slider-blog">
                                        </div>
                                    {% endif %}
                                    {% if single_blog.blog_photo_3 %}
                                        <div class="item carousel-item" data-slide-number="3">
                                            <img src="{{ single_blog.blog_photo_3.url }}" class="img-fluid" alt="slider-blog">
                                        </div>
                                    {% endif %}
                                    {% if single_blog.blog_photo_4 %}
                                        <div class="item carousel-item" data-slide-number="4">
                                            <img src="{{ single_blog.blog_photo_4.url }}" class="img-fluid" alt="slider-blog">
                                        </div>
                                    {% endif %}
                                    {% if single_blog.blog_photo_5 %}
                                        <div class="item carousel-item" data-slide-number="5">
                                            <img src="{{ single_blog.blog_photo_5.url }}" class="img-fluid" alt="slider-blog">
                                        </div>
                                    {% endif %}
                                </div>
                            

                                <div class="carousel-indicators-section clearfix">
                                    <ul class="carousel-indicators image-properties list-inline nav nav-justified">
                                        <li class="list-inline-item-4 active">
                                            <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carouselExampleIndicators">
                                                <img src="{{ single_blog.blog_photo.url }}" class="img-fluid" alt="small-blog">
                                            </a>
                                        </li>
                                        {% if single_blog.blog_photo_1 %}
                                            <li class="list-inline-item-4">
                                                <a id="carousel-selector-1" data-slide-to="1" data-target="#carouselExampleIndicators">
                                                    <img src="{{ single_blog.blog_photo_1.url }}" class="img-fluid" alt="small-blog">
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if single_blog.blog_photo_2 %}
                                            <li class="list-inline-item-4">
                                                <a id="carousel-selector-2" data-slide-to="2" data-target="#carouselExampleIndicators">
                                                    <img src="{{ single_blog.blog_photo_2.url }}" class="img-fluid" alt="small-blog">
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if single_blog.blog_photo_3 %}
                                            <li class="list-inline-item-4">
                                                <a id="carousel-selector-3" data-slide-to="3" data-target="#carouselExampleIndicators">
                                                    <img src="{{ single_blog.blog_photo_3.url }}" class="img-fluid" alt="small-blog">
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if single_blog.blog_photo_4 %}
                                            <li class="list-inline-item-4">
                                                <a id="carousel-selector-4" data-slide-to="4" data-target="#carouselExampleIndicators">
                                                    <img src="{{ single_blog.blog_photo_4.url }}" class="img-fluid" alt="small-blog">
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if single_blog.blog_photo_5 %}
                                            <li class="list-inline-item-4">
                                                <a id="carousel-selector-5" data-slide-to="5" data-target="#carouselExampleIndicators">
                                                    <img src="{{ single_blog.blog_photo_5.url }}" class="img-fluid" alt="small-blog">
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                            <!--end carousel -->

                            <div class="blog-content">  
                                <p>{{ single_blog.blog_description_ru | safe }}</p>
                            </div><!-- end content -->

                            <div class="blog-title-area">                            
                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->
                        </div><!-- end box -->
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widget-title">Поиск блога</h2>
                            <form class="search-form" action="{% url 'search_ru' %}" method="GET">
                                <input type="text" class="form-control" placeholder="Введите ключевое слово" name="keyword">
                            </form>
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Последние рецепты</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    {% for recipe in recent_recipes_ru %}
                                        <a href="{% url 'single_recipe_ru' recipe.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ recipe.recipe_photo.url }}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ recipe.recipe_title_ru }}</h5>
                                                <small>{{ recipe.created_date |date:"M d, Y" }}</small>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->

                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

{% endblock  %}